<section class="detalhes-anuncio" *ngIf="anuncio">
  <h1>Gato de raça precisando de um lar</h1>
  <span>Publicado em 03/12 às 21:01</span>

  <div class="content-wrapper">
    <div class="container" *ngIf="anuncio">
      <div class="main-image">
        <img [src]="imgPrincipal" alt="Paw print">
      </div>
      <div class="sidebar" *ngIf="anuncio.midias.length>0">
        <div class="image-box" *ngFor="let image of anuncio.midias; let i = index "
          (click)="selecionarImagem(i)">
          <img [src]="image.urlMidia" alt="Photo of an animal" [class.selected]="i === indexImgSelecionada">
        </div>
      </div>
    </div>
    <div class="perfil-anunciante">
      <h2>Anunciante</h2>
      <p><strong>Nome:</strong> Igor M</p>
      <button mat-raised-button color="primary" (click)="abrirChat()">
        Iniciar Conversa
      </button>
    </div>
  </div>
  <h1>Detalhes do animal</h1>
  <strong>Nome:</strong> {{anuncio.nomeAnimal}}
  <p>
    {{anuncio.descricao}}
  </p>
  <div class="detalhes-animal">
    <div class="colunm">
      <h1>Especie</h1>
      <span>{{anuncio.especie}}</span>
    </div>
    <div class="colunm">
      <h1>Tamanho</h1>
      <span>{{anuncio.tamanho}}</span>
    </div>
    <div class="colunm">
      <h1>Idade</h1>
      <span>{{anuncio.idade}}</span>
    </div>
  </div>
    <div *ngIf="chatAberto" class="chat-popup">
      <div class="chat-header">
        <h3>Chat com Igor</h3>
        <button (click)="fecharChat()">X</button>
      </div>
      <div class="chat-messages">
        <div *ngFor="let mensagem of mensagens" class="message">
          <span>{{mensagem}}</span>
        </div>
      </div>
      <input [(ngModel)]="novaMensagem" placeholder="Digite uma mensagem..." (keydown.enter)="enviarMensagem()"/>
      <button (click)="enviarMensagem()">Enviar</button>
    </div>
</section>
