.app-header{

  mat-toolbar{
    background-color: black;
    color: white;
    padding: 0 auto;

    .spacer {
      flex: 1 1 auto;
    }

    .bt_cadastre-se{
      background-color: white;
      color: black;
    }

    button{
      margin: 0 16px;
      color: white;
      border-radius: 6px;
    }

    img{
      padding: 0 20px;
      width: 50px;
      background-color: black;
      color: black;
    }
  }
}


