<header class="app-header">
  <mat-toolbar>
    <app-logo></app-logo>
    <span class="spacer"></span>
    <button mat-button *ngIf="estaLogado()" (click)="logout()">Logout</button>
    <button mat-button *ngIf="estaLogado()"  routerLink='create-anuncio'>Anunciar</button>
    <button mat-raised-button class="bt_cadastre-se" routerLink='create-account' *ngIf="!estaLogado()">CADASTRE-SE</button>
    <button mat-stroked-button  routerLink='login'  *ngIf="!estaLogado()">Entrar</button>

  </mat-toolbar>
</header>


