<mat-progress-bar mode="indeterminate" *ngIf="carregando"></mat-progress-bar>


<mat-card class="anuncio-card">
  <mat-card-title class="anuncio-card-title">Cadastro de Anúncio</mat-card-title>
  <mat-card-content class="anuncio-card-content">
    <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Título do anúncio</mat-label>
        <input matInput formControlName="titulo" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome do Animal</mat-label>
        <input matInput formControlName="nomeAnimal" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tamanho</mat-label>
        <input matInput formControlName="tamanho" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Idade</mat-label>
        <input matInput type="number" formControlName="idade" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Espécie</mat-label>
        <input matInput formControlName="especie" required />
      </mat-form-field>

      <div class="custom-file-upload">
        <label for="file-input" class="file-label">
          <span class="file-text">Selecione as imagens</span>
        </label>
        <input id="file-input" type="file" (change)="onImageSelect($event)" multiple />
      </div>


      <div class="image-preview">
        <div *ngFor="let image of imagePreviews; let i = index" class="image-container">
          <img [src]="image" alt="Image Preview" class="preview-image" />
          <button mat-icon-button class="bt-delete" color="warn" (click)="removeImage(i)" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
